<script src="{{ 'sv-shared-modal.js' | asset_url }}" defer></script>
<div
  class="reels-widget-container"
  id="reels-story-{{ section.id }}"
  data-shop="{{ shop.permanent_domain }}"
  data-path="{{ request.path }}"
  data-widget-type="story"
>
</div>

{{ 'app-styles.css' | asset_url | stylesheet_tag }}


<script src="{{ 'reels-widget.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Reels Story Widget",
  "target": "section",
  "settings": []
}
{% endschema %}